body
{
	font-family:"Calibri", serif;
	background-color: #C0C0C0;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2
{
	font-family:"Calibri", serif;
}

.titulo-principal
{
	text-align: center;
	background-color: #000000;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

p
{
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site
{
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
}
.p1
{
	background: #2222;
}
.p2
{
	background: #333;
}
.rodape-pagina
{
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main a
{
	color: #851944;
}

.navegacao-site a
{
	color: inherit;
	font-family:"Calibri", serif;
}

.navegacao-site, .rodape-pagina
{
    padding: 20px;
}

.container
{
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site h1
{
	font-size: 30px;
	margin-bottom: 25px;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
}

.subtitulo-texto
{
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li
{
	display: inline-block;
}


nav a
{
	text-transform: lowercase;
}

.icones-redes-sociais a
{
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}

.github {
	background-image: url(../../imagens/img/github.png);
}


.ufla
{
	background-image: url(../../imagens/img/ufla2.png);
}

.fagammon
{
	background-image: url(../../imagens/img/fagammon.png);
}

main
{
	float: right;
	width: 85%;
	padding-bottom: 80px;
}

.logo, .navegacao-site
{
	float: left;
	box-sizing: border-box;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
}

.logo
{
	position: absolute;
	top: 0;
	left: 0;
}

.navegacao-site
{
	width: 15%;
	position: relative;
	top: 310px;
}

.artigo
{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.leia-mais
{
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}

.table, th, tr, td
{
   border: 1px solid black;
	 padding: 30px;
	 text-align: center;
}

.cad
{
  align-items: center;
  width: 750px;
  font-size: 11px;
  text-align: center;
  margin-top: -210px;
  padding: 250px;

}

.tituloCad
{
  font-size: 45px;
  font-style: italic;

}

.legend
{
  style=”font-size: 3rem;


}
.fieldSet
{
	padding: 50px;
	text-align: left;
  border: groove;

}

.buttom
{
	font-size: 20px;
	text-align: center;
	width: 200px;
}
